body {
  min-height: 100vh;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
}

header {
  color: white;
  font-size: 75px;
  font-family: "Nerko One", cursive;
  margin: -25px 0px;
}

#container {
  display: grid;
  width: 65vw;
  height: 65vh;
  margin: auto;
}

button {
  font-size: larger;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}
