body {
  min-height: 100vh;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
}

.section2 {
  height: 775px;
  width: 775px;
  background-color: white;
  border: thin solid black;
}

#container {
  display: flex;
}

button {
  font-size: larger;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  height: 45px;
  width: 45px;
}
